<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>作品介紹</title>
  <meta name="description" content="Wireframe design of a product display by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe product">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">
  <link rel="stylesheet" href="wireframe.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Product</title>
  <meta name="description" content="Wireframe design of a product display by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe product">
  <meta name="author" content="Pingendo">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">
  <link rel="stylesheet" href="{{url_for('static',filename='wireframe.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
  <footer></footer>
  {% extends "home.html" %}
  {% block content %}
  <div class="content-section">
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="text-center mx-auto col-md-12">
            <h1><b>CNN模型判別肺炎X光影像Web系統</b></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 p-3"> <img class="img-fluid d-block" src="../static/介紹2.PNG"> </div>
          <div class="col-md-4 p-3"> <img class="img-fluid d-block" src="../static/介紹1.PNG"> </div>
          <div class="col-md-4 p-3"> <img class="img-fluid d-block" src="../static/介紹3.PNG"> </div>
        </div>
      </div>
    </div>
    <div class="py-5 shadow-none">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1 class="bg-info text-center">方便使用</h1>
          </div>
          <div class="col-md-4">
            <h1 class="bg-info text-center">安全性高</h1>
          </div>
          <div class="col-md-4">
            <h1 class="bg-info text-center">判斷精準</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5 text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <b class="mb-3">因應現今肺炎疫情蔓延，醫療院所為檢疫與掌握病患是否罹患肺炎， 過去的技術是由醫師將患者肺部
              光與罹患肺炎X光以肉眼比對，往往會造成誤判，很可能導致患者失去黃金醫療時間，現在當科技日新月異，漸漸AI(Artificial Intelligence,人工智慧 )技術結合醫療，達到AI生醫
              ，希望可以藉由人工智慧協助，讓 醫師有更精確的判斷，患者能夠及早治療。 <br>
              <br>本作品在應用時會先透過 醫師拍攝患者胸腔X光，再將患者肺部X光片，透過影像訓練與辨識出的模型先前已訓練好進行比對，顯示之結果可讓特定醫師根據其良惡狀況進行相關醫療動作。
              然而市面上也有相關品不過本作品將會優化辨識胸腔X光比對機率，將兩種肺部X光資料集訓練更完善使之更穩讓辨識率更精準。</b><br><br>
            <a class="btn btn-primary" href="/home">回首頁</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}

</html>