{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form2.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{legend}}</legend>
            <div class="form-group">
                {{ form2.pa_name.label(class="form-control-label") }}
                {% if form2.pa_name.errors %}
                    {{ form2.pa_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form2.pa_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form2.pa_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form2.datetime.label(class="form-control-label") }}
                {% if form2.datetime.errors %}
                    {{ form2.datetime(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form2.datetime.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form2.datetime(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form2.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}