<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>本校初籌於民國五十三年十月，在創辦人李正合先生及其夫人閔蓉蓉女士大力奔走下，擇地於台南縣永康市大灣里即古稱「鯽魚潭」故址，從一片荒蕪中，篳路藍縷、胼手胝足，用心灌溉教育，於民國五十四年四月二十九日創校。

    創校之初，原申請設立工商專科學校，後經教育部核定為「崑山工業專科學校」。民國六十年八月，本校奉教育部核准設立二年制夜間部。民國八十年七月增設商科，復更名為「崑山工商專科學校」。由於辦學績優，民國八十五年七月，奉教育部核定第一批改制為技術學院，並附設專科部；夜間部亦同時改制為「進修推廣部」，一零五學年度再改為「進修推廣處」。
    
    民國八十九年奉教育部核定改名為科技大學。現有工程、商業管理、創意媒體、民生應用及國際等五個學院。全校學生總數約一萬二千多名，教職員工六百餘人。
    
    現有系所分配
    研究所
    博士班：博士班：機械工程系機械與能源工程博士班
    碩士班：電子工程系碩士班、電機工程系碩士班、機械工程系碩士班、環境工程系碩士班、光電工程系碩士班(108學年度合併為電機工程系碩士班)、材料工程系碩士班、企業管理系碩士班、房地產開發與管理系碩士班、視覺傳達設計系碩士班、視訊傳播設計系媒體藝術碩士班、資訊管理系碩士班、資訊工程系碩士班、電腦與通訊系碩士班、空間設計系環境設計碩士班、國際貿易系國際商務與金融碩士班(108學年度更名為全球商務與行銷系國際商務與金融碩士班)
    碩士在職專班：電子工程研究所、電機工程研究所、機械工程研究所、環境工程研究所、材料工程研究所、企業管理研究所、視覺傳達設計研究所、資訊管理研究所、資訊工程系研究所</p>

</body>
</html>